.ion-color-mid {
    --ion-color-base: #EEEEEE;
    --ion-color-base-rgb: 236, 236, 236;
    --ion-color-contrast: #EEEEEE;
    --ion-color-contrast-rgb: 256, 256, 256;
    --ion-color-shade: #EEEEEE;
    --ion-color-tint: #EEEEEE;
}