.full-width {
    width: 100%;
}

form {
    width: 100%;
}

.border {
    border: solid 1px #dddddd;
}

ion-item ion-button {
    width: 100%;
    height: 42px;
    margin-left: 0;
    margin-right: 0px;
}

ion-input {
    font-size: 14px;
}

ion-text p {
    font-size: 10px;
}
