<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm" novalidate>
    <ion-list>
      <ion-text class="ion-text-left">
        <h6 class="ion-margin-start">请输入旧密码</h6>
      </ion-text>
      <ion-item lines="none">
        <div class="border full-width ion-padding-horizontal">
          <ion-input name="password" [(ngModel)]="passwordVO.old" #password="ngModel" type="text" placeholder="请输入旧密码"
            required></ion-input>
        </div>
      </ion-item>
      <ion-text class="ion-text-left">
        <h6 class="ion-margin-start">请输入新密码</h6>
      </ion-text>
      <ion-item lines="none">
        <div class="border full-width ion-padding-horizontal">
          <ion-input name="newPassword" [(ngModel)]="passwordVO.new" #newPassword="ngModel" type="text" required
            placeholder="请输入新密码"></ion-input>
        </div>
      </ion-item>
      <ion-text class="ion-text-left">
        <h6 class="ion-margin-start">请再输入一次</h6>
      </ion-text>
      <ion-item lines="none">
        <div class="border full-width ion-padding-horizontal">
          <ion-input name="confirmPassword" #confirmPassword="ngModel" [appConfirm]="newPassword.value"
            [(ngModel)]="passwordVO.confirm" type="text" required placeholder="请再输入一次"></ion-input>
        </div>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="changePasswordForm.submitted">
        <p [hidden]="!confirmPassword.errors?.confirm" class="ion-no-margin ion-padding-start">
          两次密码不一致</p>
        <p [hidden]="!confirmPassword.errors?.required" class="ion-no-margin ion-padding-start">请输入确认密码</p>
      </ion-text>
      <ion-item lines="none">
        <ion-button type="submit" expand="full" class="ion-margin-top" color="primary">
          提交
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>